
.ui-widget { font-family:  Arial, sans-serif; font-size: 11px;}
body {color: #ccc; margin: 0px; font-size: 11px; font-family: Arial, sans-serif; padding:0; background:#000 url(images/bg_site2.jpg) 39% top no-repeat ; line-height:18px; width:100%; height:100%}
#bodyWrapper {}
#bodyContent { }
div.header { height:470px}
#storeLogo { position: relative;  z-index:2; height:56px; width:308px; float:left; margin-top:-8px}
#headerShortcuts {  position:relative;  height:25px; float:left; padding-top:20px;}
#headerShortcuts a{ font-size:12px; color:#acacac; font-family:Arial; background:none; border:0;  margin:0; opacity:1; text-align: center; display:block; float:left; width:100px; height:25px; line-height:25px; text-decoration:none!important; line-height:25px; padding:0px 12px; margin:0px 10px 0px 0px }
#headerShortcuts a:hover{ color:#000!important; text-decoration:none!important; background:url(images/bg_top_menu.gif) top left repeat-x;   -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;  }
#headerShortcuts a.log_in{font-size:12px; color:#fff; font-family:Arial; background:none; border:0; padding:0;  margin:0; opacity:1; text-align: center; display:block; float:left; width:100px; text-decoration:none!important; line-height:25px}
#headerShortcuts a.log_in:hover{ color:#000!important; text-decoration:none!important; background:url(images/bg_top_menu.gif) top left repeat-x}
#headerShortcuts a span{ background:none!important; padding:0; line-height:25px}

#columnLeft { margin-bottom:5px}
#columnRight { }
div.bg_content{ background:#454444 ; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;}

.infoBoxContainer { }
.infoBoxHeading { padding: 2px; font-size: 11px;}
.infoBoxContents { padding: 5px; font-size: 11px; line-height: 1.5;}
.contentContainer { min-height:320px; padding-bottom:10px}
h1{ margin:0; padding:0}
#bodyContent h1, #bodyContent h3{ margin:0; padding:0;  font-size:20px; color:#fff;  padding-top:10px; line-height:20px;  text-transform:none; padding-left:12px; padding-bottom:10px; background-color:#000;   -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-weight:normal; letter-spacing:-0.05em; padding-right:20px; margin-bottom:10px}



#columnLeft h1{ margin:0; padding:0; font-size:20px; font-family:Arial; color:#fff;  height:32px; line-height:37px;  width:140px; padding-left:20px; padding-top:5px;  letter-spacing:-0.05em; font-weight:normal; padding-bottom:5px}
#columnLeft, #columnRight{ }
#columnLeft h1 span{ display:block; background:url(images/bg_h1_span_left.png) 90% 50% no-repeat}


#columnRight h1{ margin:0; padding:0; font-size:20px; font-family:Arial; color:#301d0f; background:url(images/bg_h1_right_column.png) right bottom no-repeat; height:45px; line-height:45px; padding-left:20px; letter-spacing:-0.02em; width:173px; margin-bottom:-2px}
#columnRight h1 span{ display:block; background:url(images/bg_span_h1_right.png) 100% 50% no-repeat}


.contentContainer h2 { font-size: 15px; text-decoration: none; font-weight: normal; margin-bottom: 0; padding-bottom:2px; margin-left:10px; padding-top:2px}
.contentText {  padding: 5px 10px ;  font-size: 12px; position:relative!important;}
.contentText table { margin-left:-2px}
.productListTable {  padding: 5px;  font-size: 11px;  line-height: 1.5;}
.productListTable tr td{ padding-bottom:10px; padding-top:10px;}

.productListTable tr.alt td {   border-top: 1px #2f2e2e	 dotted; border-bottom:1px #2f2e2e dotted;}
.fieldKey {  font-size: 11px;  font-weight: bold;  line-height: 1.5;  width: 150px;}
.fieldValue {  font-size: 11px;  line-height: 1.5;}
h1, h3 {  font-size: 16px; margin:0; padding:0; color:#000; font-family:Arial; margin-top:18px; margin-bottom:8px;}
img {  border: 0;}
table, p { }
#piGal ul {  list-style-type: none; margin-left:10px}
#piGal ul li img{ position:relative; margin-bottom:10px}
ul.thumbs li { margin-top:10px; margin-right:18px}

#piGal img {  -webkit-box-shadow: 0px 0px 1px #000;  -moz-box-shadow: 0px 0px 1px #000; }
#piGal .outer {  margin-left: 10px;}
.buttonSet {  clear: both; margin-left:10px; margin-top:10px}
.buttonAction {  float: right; margin-right:10px}
.boxText { font-family: Arial, Arial, sans-serif; font-size: 10px; }
.errorBox { font-family : Arial, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Arial, Arial, sans-serif; font-size : 10px; color: #fe45aa; }
.productsNotifications { background: #454545; color:#fff }
.orderEdit { font-family : Arial, Arial, sans-serif; font-size : 10px; color: #8fb107; text-decoration: underline; }
.orderEdit:hover{ text-decoration:none!important} 
A {  color: #f1f0f0;  text-decoration: none; outline:none}
A:hover {  text-decoration: underline;}
FORM {	display: inline;}
TR.header {  background: #ffffff;}
TR.headerNavigation {  background: #bbc3d3;}
TD.headerNavigation {  font-family: Arial, Arial, sans-serif;  font-size: 10px;  background: #bbc3d3;  color: #ffffff;  font-weight : bold;}
A.headerNavigation {   color: #FFFFFF; }
A.headerNavigation:hover {  color: #ffffff;}
TR.headerError {  background: #fe45aa;}
TD.headerError {  font-family: Arial, sans-serif;  font-size: 12px;  background: #fe45aa;  color: #ffffff;  font-weight : bold;  text-align : center;}
TR.headerInfo {  background: #00ff00;}
TD.headerInfo {  font-family: Arial, sans-serif;  font-size: 12px;  background: #00ff00;  color: #ffffff;  font-weight: bold;  text-align: center;}
TR.footer {  background: #bbc3d3; }
TD.footer {  font-family: Arial, Arial, sans-serif;  font-size: 10px;  background: #bbc3d3;  color: #ffffff;  font-weight: bold;}
.infoBox {  background: #b6b7cb;}
.infoBoxNotice {  background: #FF8E90;}
.infoBoxNoticeContents {  background: #FFE6E6;  font-family: Arial, Arial, sans-serif;  font-size: 10px;}
TD.infoBoxHeading {  font-family: Arial, Arial, sans-serif;  font-size: 10px;  font-weight: bold;  background: #bbc3d3;  color: #ffffff;}
TD.infoBox, SPAN.infoBox {  font-family: Arial, Arial, sans-serif;  font-size: 10px;}
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {  background: #f8f8f9;}
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {  background: #f8f8f9;}
TABLE.productListing {  border: 1px;  border-style: solid;  border-color: #b6b7cb;  border-spacing: 1px;}
.productListingHeader {  color: #FFFFFF;  font-weight: bold;}
.productListingHeader A:hover {  color: #FFFFFF;}
.productListingData { }

.productListingData td a.text{ display:block; margin-left:10px; width:170px}
a.pageResults {  color: #fff;}
a.pageResults:hover u, a.pageResults:hover {  color: #fff;  text-decoration:none!important}
TD.pageHeading, DIV.pageHeading {  font-family: Arial, Arial, sans-serif;  font-size: 20px;  font-weight: bold;  color: #9a9a9a;}
TR.subBar {  background: #f4f7fd;}
TD.subBar {  font-family: Arial, Arial, sans-serif;  font-size: 10px;  color: #000000;}
TD.main, P.main {  font-family: Arial, Arial, sans-serif;  font-size: 11px;  line-height: 1.5;}
TD.smallText, SPAN.smallText, P.smallText {  font-family: Arial, Arial, sans-serif;  }
TD.accountCategory {  font-family: Arial, Arial, sans-serif;  font-size: 13px;  color: #aabbdd;}
TD.tableHeading {  font-family: Arial, Arial, sans-serif;  font-size: 12px;  font-weight: bold;}
SPAN.newItemInCart {  font-family: Arial, Arial, sans-serif;  font-size: 10px;  color: #fe45aa;}
CHECKBOX, INPUT, RADIO, SELECT {  font-family: Arial, Arial, sans-serif;  font-size: 11px; }
TEXTAREA {  width: 98%;  font-family: Arial, Arial, sans-serif;  font-size: 11px; margin-left:5px}
SPAN.greetUser {  font-family: Arial, Arial, sans-serif;  font-size: 12px;  color: #f0a480;  font-weight: bold;}
TABLE.formArea {  background: #f1f9fe;  border-color: #7b9ebd;  border-style: solid;  border-width: 1px;}
TD.formAreaTitle {  font-family: Arial, sans-serif;  font-size: 12px;  font-weight: bold;}
SPAN.markProductOutOfStock {  font-family: Arial, sans-serif;  font-size: 12px;  color: #fe45aa;  font-weight: bold; padding-left:5px}
SPAN.productSpecialPrice {  font-family: Arial, Arial, sans-serif;  color: #cc006c; font-size:17px; font-weight:bold; line-height:16px}
SPAN.errorText {  font-family: Arial, Arial, sans-serif;  color: #fe45aa;}
.moduleRow { }
.moduleRowOver { background-color: #8fb107; cursor: pointer; cursor: hand; color:#fff}
.moduleRowSelected { background-color: #8fb107; color:#fff }
.checkoutBarFrom, .checkoutBarTo { font-family: Arial, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Arial, Arial, sans-serif; font-size: 10px; color: #fff; }
/* message box */
.messageBox { font-family: Arial, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Arial, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Arial, Arial, sans-serif; font-size: 10px; background-color: #a6d000; color:#000 }
/* input requirement */
.inputRequirement { font-family: Arial, Arial, sans-serif; font-size: 10px; color: #fe45aa; }
/* buttons */
.tdbLink a { }
.tdbLink button { }
/* account link list */
.accountLinkList {  list-style-type: none;  margin: 2px 2px 2px 10px;  padding: 5px;}
.accountLinkListEntry {  float: left;  margin-right: 5px;}

/* New */
ul{ list-style:none; margin:0; padding:0}
.left{ float:left}
.right{ float:right;}
.img_footer{ float:left; margin-bottom:50px ;}
div.footer{ }
div.footer div.footer_bg{ width:940px; margin:0 auto; text-align:right; padding-top:20px}


div.footer a{ font-size:12px; font-family:Arial; color:#6d6d6d; text-decoration:none; padding:0px 0px 0px 14px}
div.footer a:hover{ color:#fe45aa; text-decoration:underline}
div.footer p.copy{ font-size:12px; color:#989797; text-align: center; white-space:nowrap}
div.footer p.copy a{ color:#6d6d6d; padding:0px 4px}
div.footer p.copy a:hover{ color:#989797}


.main_menu{ width:600px; position:relative;  z-index:0; float:right; padding-top:20px; height:45px;}
.main_menu a{ color:#fff!important; font-size:14px!important; font-family:Trebuchet MS; text-transform: none!important; border:0;  background: url(images/main_menu.png) bottom no-repeat ; font-weight:bold; display:block; opacity:1; text-decoration:none!important; float:left; width:95px; height:45px;  text-align:center; margin-right:1px}

.main_menu a span.ui-icon-triangle-1-e{ display:none}
.main_menu a span{ background:none;   display:block; text-decoration:none; line-height:40px; padding:0; margin:0;}

.main_menu a:hover, .main_menu a.active{ background: url(images/main_menu_act.png) bottom no-repeat; display:block; text-decoration:none!important}
.main_menu a:hover span, .main_menu a.active span{ background:none; color:#fff ; display:block; text-decoration:none}
.main_menu a span.ui-button-text{   display:block; text-decoration:none; padding:0; margin:0; line-height:40px}

/*--- slider begin ---*/

/* The Nivo Slider styles */
#slider{ position: relative; z-index:1; overflow:hidden; width:736px; height:317px; right:0; top:0; float:right}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:relative; width:100%;height:100%;border:0;padding:0;	margin:0;z-index:60;display:none;}
/* The slices in the Slider */
.nivo-slice {display:block;	position:absolute;z-index:50;height:100%;}


/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav{ position:absolute; padding:0 19px; height:25px; left:10px; bottom:10px; z-index:99}

a.nivo-control{float:left;  position:relative;display:block; background:#4a4a4a; width:17px; height:17px; text-indent:-9999px; z-index:99; cursor:pointer; margin-right:4px;  -moz-border-radius: 2px; -webkit-border-radius: 2x; border-radius: 2px; }
a.nivo-control:hover, .nivo-controlNav a.active { background:#cc006c}

/*--- slider end ---*/

.breadcrumb{ background:#000;  color:#fff; line-height:20px;   -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-bottom:5px; position:relative; margin-top:-5px; padding-top:1px}

/* lang */
div.box_lang{ position:absolute; top:-476px; left:888px; width:84px}
div.box_lang a img{ margin-right: 2px}

/* curr */
div.box_curr{ position:absolute; top:-477px; width:150px; left:715px; z-index:10;}
.title_curr{ float:left; width:70px; color:#7f7f7f; font-size:11px; font-family:Arial; }
.content_curr{ float:right; width:80px}
.content_curr form select{ color:#7e7e7e; background:#000; border:1px #7e7e7e solid}

/* shop cart */
.box_shopping_cart{ position:absolute; width:180px; height:33px; top:-439px; left:780px; z-index:100; padding-left:35px; background:url(images/bg_cart.png) left 50% no-repeat}
.title_shoping_cart a{ color:#d2ff1f; text-decoration: underline; font-size:12px; font-family:Arial; font-weight:bold; line-height:33px; letter-spacing:-0.03em; float:left; padding-right:8px}
.title_shoping_cart a:hover{ text-decoration:none}
.content_shoping_cart{ color:#939292; line-height:33px; font-size:12px; float:left; font-weight:normal; letter-spacing: normal; }
.content_shoping_cart a{ color:#939292;letter-spacing: normal; }
.content_shoping_cart a:hover{ text-decoration:none}


/* cat */
div.box_cat{ background:#000; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-bottom:10px}

div.content_cat{ padding-left:20px; padding-bottom:10px}
div.content_cat a{ font-size:12px ; color:#cccccc; line-height:24px}
div.content_cat a:hover {  color:#fe45aa; text-decoration: underline; cursor:pointer}
div.content_cat a strong{ color:#807e7e;}
div.content_cat a strong:hover{ color:#fe45aa;}
.in_cat{}

div.content_cat a.level-1{ padding-left:20px; color:#f2f2f2}
div.content_cat a.level-1:hover{}
div.content_cat a.level-0{}
div.content_cat a.level-0:hover{}

.level_img{ position:absolute; right:12px; padding-top:9px}



/* best Sellers */

div.box_best_sellers{ background:#313030; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin-bottom:10px}

.content_best_sellers{ padding-bottom:5px}

.content_best_sellers ol{ margin:0; padding:0;  padding-left:25px; margin-left:10px; color:#cccccc;}
.content_best_sellers ol li{ line-height:16px;}
.content_best_sellers ol li a{display:block; line-height:16px; padding:2px 0px; font-size:11px; color:#cccccc}
.content_best_sellers ol li a:hover{ color:#fe45aa; text-decoration: underline}

/* manufact */
.man{ margin-bottom:10px; background:#262525;-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.content_man{ margin-bottom:16px;}
.content_man span{ padding:0px 10px 0px 10px; display:block}
.content_man span select{background:#dbd8d8; color:#000; border:1px #000  solid; margin-top:5px; margin-bottom:10px}




/* search */
.box_search{ position:absolute; top:-103px; width:236px; height:61px; left:-10px; z-index:10; background:url(images/bg_search.jpg) top left no-repeat}
div.title_search{ color:#fff; font-size:11px; font-family:Arial; text-transform:uppercase; font-weight:bold;}

a.search_link{display:block;  padding-left:10px; color:#000}
a.search_link:hover{ color:#ff2400; text-decoration:none}

.content_search { }
.content_search a:hover{ text-decoration:none!important}

.img_search{ width:39px; height:26px;  position: absolute; top:16px; right:8px}



/* special */
div.box_specials{ background:#565656; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin-bottom:10px}

a.special_product{ color:#000; font-size:12px}
.content_specials{ padding-left:20px; padding-bottom:5px}
.box_specials span.last{ background:url(images/bg_cat_last.gif) right bottom  no-repeat; padding:0px 10px 0px 10px; display:block}
.box_specials span.last div.bg_specials{}


.content_specials a img{ margin-top:5px; margin-bottom:5px;	}
.content_specials del{ color:#aeaeae; font-family:Arial; font-size:11px; line-height:30px; float:left; display:block; }
.content_specials span.productSpecialPrice{ font-size:18px; font-family:Arial; color:#a6d000; font-weight: normal; float:right; margin-right:30px; line-height:30px; display:block}

a.special_product{ font-size:12px; text-transform: none; color:#fff; font-family:Arial; text-decoration:none;  line-height:24px;}
a.special_product:hover{ text-decoration:underline}
a.pin{ background:#454545; display:block; width:100px; text-align:center; line-height:25px; color:#fff; font-size:11px; font-family:Arial; text-transform:none}
a.pin:hover{ text-decoration:none; background:#d9454b}

/* new_product */
td div.block{ display:block;  width:177px!important; float:left;  position:relative; margin-bottom:1px; background:url(images/box_top.gif) top no-repeat}
td div.block span.foot{ background:url(images/box_foot.gif) bottom no-repeat; display:block; width:157px; padding-left:10px; padding-right:10px; padding-top:10px}
a.img_pro img{ margin-bottom:10px; }

.table_main{ margin-left:-6px}
.table_main td.td_main{ }
td.td_main{  padding:0!important; margin:0!important;}

a.name_product{ min-height:24px; display:block; font-size:11px; line-height:14px; color:#302a25; text-decoration:none; margin-bottom:7px}
a.name_product:hover{ color:#000; text-decoration: underline}

.price_text{ font-size:12px; color:#555555; line-height:25px}
.price_price{ color:#302a25; font-size:12px; line-height:25px; font-family:Arial; letter-spacing:-0.05em; padding-top:}

a.pin_to{ display:block; width:75px; text-align:center; line-height:25px; color:#cbcbcb; font-size:14px; font-family:Arial; text-transform:none; font-weight:bold; margin-bottom:10px}
a.pin_to:hover{  text-decoration:none; color:#fe45aa}


div.contentText div.infoBoxContainer div.productListTable{ border:0}
.img_product img{ }
.img_product:hover img{ }


td.main{ font-size:12px; color:#fff;}
td.main a u{ text-decoration:none!important; font-size:16px; line-height:20px; padding-top:15px; display:inline-block; color:#fff}
.disc{ width:460px; color:#ccc; margin-bottom:2px; margin-top:6px}
td.main small{ font-size:13px; color:#89aa00}
td.main img{  margin-right:10px}
td.main img:hover{}
.smallText a img{ margin-top:10px; margin-bottom:5px}
.smallText a{ text-decoration:none; white-space:nowrap; border:0; color:#888}
.smallText a:hover{ color:#fff; text-decoration:none}
.bann{ position: relative!important; width:170px; height:100px; left:0; top:0}
.bg_1{ background:url(images/bg_top.png) center 0px repeat-x; }


span.space{ display:inline-block; width:268px}
span.stick{ display: inline-block;  height:20px; width:2px; background:url(images/stick.gif) center 6px no-repeat; margin:0px 12px -2px 0;}
.bg_centr{  background:url(images/bg_centr_container.jpg) 1px top repeat-y;  margin-top:10px;}
.bg_upp{  background:url(images/bg_upp_container.jpg) 1px  top no-repeat; padding-left:15px; padding-right:20px;}

h1 del{ font-size:16px}
.right_price{ float:right; margin-right:10px}
.min_height_750{ min-height:750px}
.min_height_550{ min-height:600px}
.top_line{ background:url(images/top_line.gif) top repeat; height:2px; width:100%; margin:10px 0px 20px 0px}

div.show{ position:relative; width:980px; height:300px;}
a.start_shopping{ display:block; position: absolute; left:595px; top:254px;  z-index:100; width:127px; height:43px; background:url(images/start_shopping.jpg) top no-repeat; text-align:center; color:#fff; font-size:12px; font-weight:bold; line-height:43px}


div.roll{ color:#fff; margin:10px 0px}
a.pageResults u{ color:#fff}
td.main del{ color:#aeaeae}
p font small strong, small font strong{ color:#fe45aa}

input.simplebtn {
	padding:0px 10px 2px 10px;
	border:#511a1f solid 1px;
	color:#fff;
	cursor:pointer;
	background-repeat:repeat-x;
	background-color:#FF9900;
	display:inline-block;
	height:25px;
	font-weight: bold;
	-webkit-border-radius:3px;
-moz-border-radius:3px;
}
input.simplebtn:hover {
	color:#fff;
	background-color:#FF6600;
	background-image:none;
	cursor:pointer;
	-webkit-border-radius:3px;
-moz-border-radius:3px;
	font-weight: bold;}

.belibtn {
	padding:5px 10px 0px 10px;
	border:#511a1f solid 1px;
	color:#000000;
	cursor:pointer;
	background-repeat:repeat-x;
	background-color:#FF9900;
	display:inline-block;
	height:25px;
	font-weight: bold;
	-webkit-border-radius:3px;
-moz-border-radius:3px;
}	

.dtlbtn {
	padding:5px 10px 0px 10px;
	border:#511a1f solid 1px;
	color:#fff;
	cursor:pointer;
	background-repeat:repeat-x;
	background-image: url(images/beli.gif);
	display:inline-block;
	height:24px;
	width:120px;
	font-weight: bold;
	-webkit-border-radius:3px;
-moz-border-radius:3px;
}	

.table4{
     color:#ffffff;
	font-size:12px;
	font-family: tahoma;
	text-align: center;
	font-weight: bold;
}
	
.table5{
    color:#333;
	font-size:12px;
	font-family: tahoma;}
	
div.paging {
	padding:2px;
	margin:2px;
	text-align:center;
}

div.paging a {
	padding:2px 5px 2px 5px;
	background-color:#ffffff;
	margin-right:2px;
	border:1px solid #9AAFE5;
	text-decoration:none;
	color:#2E6AB1;
}

div.paging a:hover {
	border:1px solid #2B66A5;
	color:#000000;
	background-color:#FFFF80;
}

div.paging span.current {
	padding:2px 5px 2px 5px;
	margin-right:2px;
	border:1px solid navy;
	font-weight:bold;
	background-color:#2E6AB1;
	color:#FFFFFF;
}

.print {
	padding:0 0 0 20px;
	background:transparent url(./images/ico_print.png) no-repeat left;
	font-weight:bold;
}

.logout {
	padding:0 0 0 20px;
	background:transparent url(./images/ico_logout.png) no-repeat left;
	font-weight:bold;
}