/* elemen html */

body {
	background-color:#5B5F53;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	font-size:12px;
	margin:0px auto auto auto;
	color:#000000;
}

a {
	color:#b04c26;
	text-decoration:none;
}

a:hover {
	color:#000;
	cursor:pointer;
}

img {
	margin:0;
	border:0;
}

p {
	margin:5px 7px 5px 7px;
	text-align:justify;
	line-height:20px;
}

h1, h2, h3 {
	margin:0;
}

h1 {
	color:#bf3c0a;
	float:left;
	font-size:30px;
}

h3 {
	color:#454545;
	font-size:16px;
}

/* style */

.clear{
	clear:both;
}

#wrap {
	width:900px;
	height: auto;
	margin:auto;
	background-color:#FFFFFF;
}

/* header */
.header {
	width:900px;
	height:74px;
	background:#c5d9b0;
}

/* header h1 */
.header h1 {
	margin:5px 5px 0 10px;
	padding:0 0 0 35px;
	background: url(../images/admin.png) no-repeat;
}

/* header-menu */
#menu {
	width:900px;
	height:30px;
	float:left;
	padding:0;
}

#menu ul {
	display:block;
	list-style:none;
	padding:5px 0 0 10px;
	margin:0px;
}

#menu ul li {
	display:inline;
	padding:0;
	margin:0;
	height:20px;
}

#menu ul li a {
	width:58px;
	height:27px;
	display:block;
	padding:0px 10px 0 10px;
	margin:0 1px 0 1px;
	float:left;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:13px;
	line-height:25px;
	background:#b0cb92;
}

#menu ul li a:hover {
	color:#454545;
}

/* content */
.center_content {
	width:900px;
	padding:0px 0 0 0;
	background:#f2f8e7;
}

/* content-left */
.left_content {
	width:600px;
	float:left;
	margin:10px 0 10px 10px;
	padding:10px;
	background:#fff;
}

.left_content h3 {
	width:590px;
	margin:0 0 5px 0;
	border-bottom:1px solid #e8e7e1;
	background:#f2f8e7;
	padding:5px;
}

.left_box_list {
	width:597px;
	border:1px #DFD1D2 dashed;
	
}

.left_box_dash {
	width:585px;
	min-height:395px;
	margin:5px 5px 5px 7px;
}

.left_box {
	width:595px;
	border:1px solid #e8e7e1;
	min-height:435px;
	margin:0 2px 5px 2px;
}

.left_box h3 {
	width:585px;
	border-bottom:1px solid #e8e7e1;
	background:#f2f8e7;
	padding:5px;
}

.left_bg1 {
	width:563px;
	border:1px solid #e8e7e1;
	background:#f2f8e7;
	margin:5px;
	padding:10px;
}

.left_bg2 {
	width:573px;
	border:1px solid #e8e7e1;
	margin:5px;
	padding:5px;
}

.left_bg3 {
	width:510px;
	border:1px solid #e8e7e1;
	background:#f2f8e7;
	margin:5px 0 5px 0;
	padding:5px;
	line-height:20px;
}

/* content-right */
.right_content {
	width:230px;
	float:left;
	margin:10px;
	padding:10px;
	background:#fff;
}

.right_box {
	width:230px;
}

.right_box h3 {
	width:220px;
	border-bottom:1px solid #e8e7e1;
	margin-bottom:5px;
	background:#f2f8e7;
	padding:5px 0 5px 10px;
}

.box_right_list {
	width:206px;
	float:left;
	padding:10px;
	border:1px #DFD1D2 dashed;
	position:relative;
}

ul.right_list {
	clear:both;
	padding:0;
	margin:0;
}

ul.right_list li {
	list-style:none;
	padding:2px 0 2px 0;
}

ul.right_list li a {
	list-style:none;
	text-decoration:none;
	padding:0 0 0 20px;
}

/* footer */
.footer {
	clear:both;
	height:50px;
	border-top:1px #b2b2b2 dashed;
}

.left_footer {
	float:left;
	padding:10px 0 0 10px;
}

.right_footer {
	float:right;
	padding:10px 10px 0 0;
}

/* pagging */
div.pagination {
	margin:0 0 0 5px;
	padding:5px;
	clear:both;
	font-size:12px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border:1px solid #e8e7e1;
	text-decoration: none; 
	color: #000;
}

div.pagination a:hover {
	border:1px solid #e8e7e1;
	color: #000;
	background-color:#f2f8e7;
}

div.pagination .active {
	border:1px solid #e8e7e1;
	color: #000;
	background-color:#f2f8e7;
}

/* icons */
.logout {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_logout.png) no-repeat left;
	font-weight:bold;
}

.time {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_time.png) no-repeat left;
	font-weight:bold;
}

.add {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_add.png) no-repeat left;
	font-weight:bold;
}

.detail {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_detail.png) no-repeat left;
	font-weight:bold;
}

.edit {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_edit.png) no-repeat left;
	font-weight:bold;
}

.user {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_user.png) no-repeat left;
	font-weight:bold;
}

.cost {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_cost.png) no-repeat left;
	font-weight:bold;
}

.news {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_news.png) no-repeat left;
	font-weight:bold;
}

.message {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_message.png) no-repeat left;
	font-weight:bold;
}

.accept {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_accept.gif) no-repeat left;
	font-weight:bold;
}

.delete {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_reject.gif) no-repeat left;
	font-weight:bold;
}

.tgz {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_tgz.png) no-repeat left;
	font-weight:bold;
}

.bullet {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_bull.png) no-repeat left;
	font-weight:bold;
}

.evo {
	padding:0 0 0 20px;
	background:transparent url(../images/ico_evoo.png) no-repeat left;
	font-weight:bold;
}


/* login form */
.content_login {
	width:500px;
	padding:0px 0 0 0;
	background:#eaf4d6;
	height:auto;
	margin:100px auto auto auto;
}

.login_content {
	width:460px;
	float:left;
	margin:10px 0 10px 10px;
	padding:10px;
	background:#fff;
}

.login_box {
	width:455px;
	border:1px solid #e8e7e1;
	min-height:250px;
	margin:0 2px 5px 2px;
}

.login_box h3 {
	width:445px;
	border-bottom:1px solid #e8e7e1;
	background:#effbd9;
	padding:5px;
}

.login_form {
	width:240px;
	min-height:150px;
	float:left;
	padding:5px 10px 10px 10px;
	margin:0 0 10px 0;
	border:1px #DFD1D2 dashed;
	position:relative;
}

label.login {
	width:65px;
	float:left;
	font-size:12px;
	text-align:right;
	padding:5px 5px 0 0;
	color: #333333;
}

input.login {
	width:240px;
	height:18px;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

.login_left {
	float:left;
	margin:5px;
	padding:20px 0 0 0;
	width:170px;
}

.login_right {
	float:left;
	margin:5px;
	padding:20px 0 0 0;
	width:260px;
}

.row_login {
	width:200px;
	clear:both;
	padding:5px 0 5px 0;
}

/* form */
.form_subtitle {
	position:absolute;
	top:-11px;
	left:7px;
	width:auto;
	height:20px;
	background-color:#4E6C4E;
	text-align:center;
	padding:0 7px 0 7px;
	color:#FFFFFF;
	font-size:11px;
	line-height:20px;
}

input.submit {
	width:71px;
	height:25px;
	border:none;
	cursor:pointer;
	text-align:center;
	color:#FFFFFF;
	background:url(../images/button.gif) no-repeat center;
	margin:5px 0 0 0;
}

.row {
	width:550px;
	clear:both;
	padding:5px 0 5px 0;
}

.admin_form {
	width:563px;
	float:left;
	padding:10px;
	margin:5px;
	border:1px #DFD1D2 dashed;
	position:relative;
}

label.form_admin {
	width:200px;
	float:left;
	font-size:12px;
	text-align:right;
	padding:5px 5px 0 0;
	color: #333333;
}

label.det_admin1 {
	width:100px;
	float:left;
	font-size:12px;
	text-align:right;
	padding:5px 5px 0 0;
	color: #333333;
}

label.det_admin2 {
	width:200px;
	float:left;
	font-size:12px;
	text-align:left;
	padding:5px 5px 0 0;
	color: #333333;
}

label.nota3 {
	width:120px;
	float:left;
	font-size:12px;
	text-align:right;
	padding:0 5px 0 0;
	color: #333333;
}

input.form_admin {
	width:320px;
	height:18px;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

select.form_admin {
	width:322px;
	height:24px;
	padding:2px 0 0 0;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

select.tgl {
	width:40px;
	height:24px;
	padding:2px 0 0 0;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

select.bln {
	width:100px;
	height:24px;
	padding:2px 0 0 0;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

select.thn {
	width:80px;
	height:24px;
	padding:2px 0 0 0;
	background-color:#fff;
	color:#999999;
	border:1px #DFDFDF solid;
	float:left;
}

textarea.form_admin {
	width:320px;
	height:120px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #999999;
	background-color:#fff;
	border:1px #DFDFDF solid;
	float:left;
	margin:0;
}

/* table */
table {
	border-collapse:collapse;
	border-spacing:0;
}

table.style1 {
	margin:2px 2px 0 7px;
	border:1px solid #e8e7e1;
	background:none;
}

table.style1 td, th{
	padding:5px;
	border:1px solid #e8e7e1;
} 

table.style1 th{
	padding:5px;
	background:#f7f6f0;
	color:#454545;
}

table.style2 {
	margin:2px 7px 2px 7px;
	padding:2px;
	border:1px solid #e8e7e1;
	background:none;
}

table.style2 td {
	padding:5px;
	background:none;
}

/* produk */
.produk {
	width:563px;
	float:left;
	background:#f2f8e7;
	margin:0 5px 5px 5px;
	padding:10px;
	line-height:20px;
	border-right:1px solid #e8e7e1;
	border-left:1px solid #e8e7e1;
	border-bottom:1px solid #e8e7e1;
}

.produk_left {
	width:115px;
	height:115px;
	float:left;
}

.produk_right {
	width:560px;
	height:90px;
	padding:5px 0 2px 0;
}

.produk_bottom {
	float:left;
	width:550px;
	padding:5px;
	border:1px solid #e8e7e1;
}